<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ACB</servlet-name>
        <servlet-class>Models.ACB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFeedbackServlet</servlet-name>
        <servlet-class>control.CreateFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackServlet</servlet-name>
        <servlet-class>control.ViewFeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ACB</servlet-name>
        <url-pattern>/ACB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFeedbackServlet</servlet-name>
        <url-pattern>/CreateFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackServlet</servlet-name>
        <url-pattern>/ViewFeedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
